services:
  blog:
    platform: linux/amd64
    build: .
    ports:
      - "8080:8080"
    volumes:
      - .:/app
      - /app/node_modules
      - ~/.ssh/id_ed25519:/root/.ssh/id_ed25519:ro
      - ~/.gitconfig:/root/.gitconfig:ro
    environment:
      - NODE_ENV=development
      # 重点：告诉容器去这个固定路径找钥匙
      - SSH_AUTH_SOCK=/run/host-services/ssh-auth.sock

